.layout {
    min-height: 100vh;
}

.sidebar {
    position: fixed;
    display: flex;
    width: 15rem;
    height: 100vh;
    top: 0px;
    left: 0px;
}

.div-layout-wrapper {
    margin-left: 15rem; 
}
