<p-messages [(value)]="authServiceErr" [enableService]="false" [closable]="true"></p-messages>

@defer (on timer(500)) {
<main>

  <h1 id="h1-auth">Ready to Job Hunt?</h1>
  <p id="p-auth">The Job Hunter's Hub - AppliTrax</p>

  <div class="div-auth-form-wrapper">
    <app-login-form (emailFormEmitter)="handleEmailFormEmit($event)"
      (thirdPartyAuthEmitter)="handleThirdPartyAuthEmit($event)"
      (forgotPasswordEmitter)="handleForgotPasswordEmit()"></app-login-form>
  </div>
</main>
}
@placeholder {
<p-progressSpinner animationDuration="2s" ariaLabel="loading"></p-progressSpinner>
}
