/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/primeng.css";
@import "primeng/resources/themes/saga-green/theme.css";
@import "primeicons/primeicons.css";

:root {
    /* Background / Text for contrast */
    --dark-gray: #2A2B2E;
    /* Background */
    --gray: #5A5A66;
    /* Common Color, use with popout, never two boxes with same color */
    --dark-green: #A4C2A8;
    /* Common Color, use with popout, alternate between thsee two */
    --green: #ADEB98;
    /* Colorful popout */
    --light-green: #87FF65;

    --border-color: rgb(202, 224, 209);
}

/* Global Tag CSS */

body {
    margin: 0px;
    padding: 0px;
    background-color: #efefef;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

small {
    color: lightslategray;
}

/* Global Class CSS */

.dark-gray {
    color: var(--dark-gray);
}

.gray {
    color: var(--gray);
}

.dark-green {
    color: var(--dark-green);
}

.green {
    color: var(--green);
}

.light-green {
    color: var(--light-green);
}

.bg-dark-gray {
    background-color: var(--dark-gray);
}

.bg-gray {
    background-color: var(--gray);
}

.bg-dark-green {
    background-color: var(--dark-green);
}

.bg-green {
    background-color: var(--green);
}

.bg-light-green {
    background-color: var(--light-green);
}

.height-min {
    height: min-content;
}

.text-link {
    text-decoration: none;
    font-weight: bold;
    color: inherit;
}

.text-link:hover {
    cursor: pointer;
    color: var(--green);
}

/* Global PrimeNG Component CSS */

.p-inputtext,
.p-button {
    border-radius: 10px;
}

.p-button {
    box-shadow: none;
}

.p-card-title {
    font-size: 1rem;
}

.p-password-panel {
    border-radius: 10px;
}

.p-messages {
    margin: 0px 1rem 0px 1rem;
    position: fixed;
    width: 25rem;
    top: 1rem;
    right: 1rem;
    overflow: auto;
}

.p-progress-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
}

.p-progress-spinner-circle {
    animation: spinner-color-alternate 2s infinite linear;
}

@keyframes spinner-color-alternate {
    0% {
        stroke: #2A2B2E;
    }

    33% {
        stroke: #A4C2A8;
    }

    66% {
        stroke: #ADEB98;
    }

    100% {
        stroke: #2A2B2E;
    }
}

.p-draggable-enter {
    box-shadow: 0px 4px 20px var(--light-green);
    border-radius: 12px;
}

.p-sidebar-active {
    width: 30rem;
}

/* Overwrite CSS styles */

#btn-auth-cont>.p-button>.p-button-label,
#btn-auth-google>.p-button>.p-button-label,
#btn-auth-github>.p-button>.p-button-label,
.bg-light-green>.p-button-label {
    color: black;
    font-weight: bold;
}

.bg-light-green>.p-button-icon {
    color: black;
}

.bg-light-green {
    .p-ink {
        background: rgba(#282e29, 0.3);
    }
}

#btn-auth-cont>.p-button {
    width: 100%;
    padding: 10px;
}

.div-auth-inputs-wrapper>p-password>.p-password,
.div-auth-inputs-wrapper>p-password>.p-password>.p-inputtext,
.btn-auth-group-wrapper>#btn-auth-google>.p-button,
.btn-auth-group-wrapper>#btn-auth-github>.p-button {
    width: 100%;
}